{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPSTONE PROJECT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>
    <div class="container-fluid">
        <div class="btn-bar row">
            <a class="btn col-md-1 {%if '/' == request.path%} {{'active'}} {% endif%} " href="/"> visuals</a>
            <div class="col-md-1"></div>
            <a class="btn col-md-1 {%if '/operations/simple_train' == request.path%} {{'active'}} {% endif%} " href="/operations/simple_train"> train</a>
            <div class="col-md-1"></div>
            <a class="btn col-md-1 {%if '/operations/simple_test' == request.path%} {{'active'}} {% endif%} " href="/operations/simple_test"> test</a>
            <div class="col-md-1"></div>
            <div class="col-md-5"></div>
            <a class="btn col-md-1" href="/authen/logout"> logout</a>
        </div>

        <br>
        
    {% block content%} {%endblock%}
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>